// directory
desktop.ini

// git
*/.git
*/*/.git
*/.gitignore
*/.README.md

// vscode
.vscode
*/.vscode
*/*/.vscode

// node
*/*/node_modules
*/*/*/node_modules

// C
C/ParsePacket
C/Galaxy
C/*/*.exe
C/*/*.txt

// C++
Cpp/*/*.exe
Cpp/*/*.txt
Cpp/*/*.ini

// Javaccript
Javascript/BlueStar
Javascript/Calculator
Javascript/ParsePacket
Javascript/SWRuneManage
Javascript/TeemBee
Javascript/TodoList
Javascript/Portfolio

// Python
Python/*/__pycache__
Python/*/build
Python/*/dist
Python/*/log
Python/*/*.spec
Python/HanaAutoVPN

// SpiderGen
SpiderGen/*/bin
SpiderGen/*/Bridge
SpiderGen/*/Library
SpiderGen/*/Query
SpiderGen/*/Template
SpiderGen/*/*.inf
SpiderGen/*/*.inc
SpiderGen/*/*.prj
SpiderGen/*/*/*.prj


// Unreal
Unreal/*/.vs
Unreal/*/Intermediate
Unreal/*/Saved
Unreal/*/Build
Unreal/*/Plugins
Unreal/*/*.sln
Unreal/*/*._BuiltData.uasset
